.duration-segment {
	width: 72px;
	height: 28px;
	line-height: 28px;
	border-radius: 14px;
	text-align: center;
}

#create-token-container {
	padding: 16px;
	margin-bottom: 32px;
	height: 232px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#token-type-selector {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#create-button {
	margin: 0 auto;
}

#token-description {
	margin: 0 auto;
	width: 100%;
}

#token-password {
	margin-bottom: 16px;
	width: 72%;
}

#create-token-meta {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	align-items: center;
	max-width: 440px;
}

#token-info {
	text-align: center;
	margin: 16px auto;
}

#create-meta-duration-container {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 16px;
}

#create-meta-duration-container input {
	text-align: center;
	max-width: 96px;
	min-width: 40px;
	height: 35px;
	font-size: 24px;
}

#token-description input {
	height: 32px;
	outline: none;
	padding-left: 8px;
	width: 100%;
	box-sizing: border-box;
}

#token-password input {
	height: 32px;
	outline: none;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

#create-button button {
	border: none;
	box-shadow: none;
	cursor: pointer;
}

#create-button button {
	border: none;
	box-shadow: none;
	cursor: pointer;
}

#token-type-selector div {
	cursor: pointer;
}
