#create-token-container {
	padding: 16px;
	margin-bottom: 32px;
	height: 232px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#token-type-selector {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#create-button {
	margin: 0 auto;
}

#token-description {
	margin: 0 auto;
	width: 100%;
}

#create-token-meta {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	align-items: center;
	max-width: 440px;
}

#token-info {
	text-align: center;
	margin: 16px auto;
}

#token-description input {
	height: 32px;
	outline: none;
	padding-left: 8px;
	width: 100%;
	box-sizing: border-box;
}

#create-button button {
	border: none;
	box-shadow: none;
	cursor: pointer;
}

#create-button button {
	border: none;
	box-shadow: none;
	cursor: pointer;
}

#token-type-selector div {
	cursor: pointer;
}
