.file-list-cell-container {
	height: 73px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.file-list-cell-container p {
	font-size: 14px;
	max-height: 22px;
	margin: 0;
	padding: 0;
	margin-left: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
}

.file-list-cell-container p:first-child {
	font-size: 18px;
	margin-top: 12px;
}

.file-list-cell-container p:last-child {
	font-size: 14px;
	text-align: right;
	margin-right: 32px;
}
