.navbar {
	height: 64px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.32);
	line-height: 64px;
	position: absolute;
	top: 0;
	left:0;
	right: 0;
	z-index: 100;
}

.navbar span {
	display: inline-block;
	margin-left: 28px;
}

.navbar label {
	display: inline-block;
	margin-left: 28px;
}

.navbar .font-brand {
	margin-top: 5px;
}

.navbar .button-container {
	display: inline-block;
	float: right;
	padding-right: 32px;
	font-size: 18px;
}

.navbar .button-container input[type="file"] {
	display: none;
}

#file-list-canvas {
	margin: 0;
	padding: 0;
	overflow: auto;
	position: absolute;
	top: 64px;
	left: 0;
	bottom: 0;
	width: 38%;
}

