#login-container {
	width: 80%;
	margin: 50px auto;
	text-align: center;
}

#login-container #brand {
	margin-bottom: 70px;
	margin-top: 128px;
}

#login-container input {
	display: block;
	width: 100%;
	margin: 10pt auto;
	height: 44px;
	text-align: center;
	font-size: 32px;
	width: 512px;
	height: 64px;
	margin-bottom: 32px;
}

#login-container button {
	width: 320px;
	height: 64px;
	font-size: 28px;
}
