.token-cell-container {
	padding: 16px;
	height: 87px;
}
.token-cell-container a {
	font-size: 14px;
}

.token-cell-container p:first-child {
	font-size: 14px;
}

.token-cell-container .trash-container {
	position: relative;
	display: inline-block;
	text-align: right;
	width: 100%;
}

.token-cell-container .trash-container img {
	width: 29px;
	height: 29px;
	position: absolute;
	right: 0px;
	bottom: 60px;
}

.token-cell-container p:last-child {
	font-size: 12px;
}

#tokens-pane ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#tokens-pane-container {
	width: 100%
}
